/Lab1/build/
/Lab2/ComplexNumber/target/
/Lab2/BankAccount/target/
/Lab2/ManageEmployee/ManageEmployee/target/
/Lab3/Lab3/target/
/Lab3/Lab3_Assignment2/lab3_Assignment2/target/
/Lab4/Assignment1/Assignnment1/target/
/Lab4/Assignment2/Assignment2/target/
/Lab4/Assignment3/Assignment3/target/
/Lab5/Assignment1/Assignment1/target/
/Lab5/Assignment2/Assignnment2_lab5/target/
